<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" defer></script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <title> A propos </title>
  <script src="https://unpkg.com/scrollreveal"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Cantata+One&display=swap" rel="stylesheet">
</head>

<body>
<main>
  <header class="top-sidebar">
    <nav class="nav">
      <img src="../static/Design/logo.jpg" alt="Scanify logo" class="logo_jpg">
      <div class="scanify-title">Scanify</div>
      <ul class="nav-links" id="nav-links">
        <li>│</li>
        <li><a href="{{ url_for('home') }}"> Accueil </a></li>
        <li><a href="{{ url_for('about') }}"> A propos</a></li>
        <li><a href="{{ url_for('dashboard') }}"> Tableau de bord</a></li>
        <li>│</li>
        {% if current_username %}
        <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
        {% endif %}
      </ul>
      <img src="../static/Design/user_image.jpg" alt="User image" class="topbar_user_jpg">
    </nav>
  </header>

  <h1 id="about_title"> A propos </h1>
  <div class="about_container">
  <h2> Notre équipe </h2> <br>
  <p> Ce projet a pris vie à l'aide de deux personnes : Antonina Savchenko et Elisa Salignon, élèves du lycée Jean Sturm et élèves de NSI. </p>
  <br>
  <h2> Notre site </h2> <br>
  <p> Ce site a été réalisé par Antonina Savchenko et Elisa Salignon dans le cadre l'édition 2025 des Trophées de NSI.</p>
  </div>
 </main>

  <footer>
    <div class="footer-container">
      <div class="footer-logo">
       <!--<img src="../static/Design/logo.jpg" alt="Logo Scanify">-->
      </div>
      <div class="footer-links">
        <a href="/home">Accueil </a>
      </div>
      <div class="footer-copy">
        <p>&copy; 2025 Scanify. Tous droits reservés.</p>
      </div>
    </div>
  </footer>
</body>
</html>