<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" defer></script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <title> Contact </title>
  <script src="https://unpkg.com/scrollreveal"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
    <header class="top-sidebar">
        <nav class="nav">
          <img src="../static/logo.jpg" alt="Scanify logo" class="logo_jpg">
          <ul class="nav-links" id="nav-links">
            <div class="scanify-title"> <li> Scanify </li></div>
            <li> │ </li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
          <img src="..\static\user_image.jpg" alt="User image" class="topbar_user_jpg">
        </nav>
      </header>
    <h1> Contact </h1>  
    <p>Made by Antonina Savchenko, Elisa Salignon and Grégory Hubele</p>
</body>

</html>