<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" defer></script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <title> Tableau de bord </title>
  <script src="https://unpkg.com/scrollreveal"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Cantata+One&display=swap" rel="stylesheet">
</head>

<header class="top-sidebar">
  <nav class="nav">
    <img src="../static/Design/logo.jpg" alt="Scanify logo" class="logo_jpg">
    <div class="scanify-title">Scanify</div>
    <ul class="nav-links" id="nav-links">
      <li>│</li>
      <li><a href="{{ url_for('home') }}"> Accueil </a></li>
      <li><a href="{{ url_for('about') }}"> A propos</a></li>
      <li><a href="{{ url_for('dashboard') }}"> Tableau de bord</a></li>
      <li>│</li>
      <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
    </ul>
    <img src="../static/Design/user_image.jpg" alt="User image" class="topbar_user_jpg">
    <li style="list-style: none; padding-left: 1rem">{{current_username}}</li>
  </nav>
</header>

<body>
<main>
    <h1> Bienvenue sur votre tableau de bord, {{current_username}}</h1>
    <br>
    <h2> ─── Veuillez entrer votre reçu. Appuyez sur 'téléverser' puis sur 'analyser' pour commencer l'analyse. ─── <h2>
    <form method="POST" enctype="multipart/form-data">
        <div id="drop-area" class="drop-area">
            <label id="file-label"> Faites glisser et déposez votre fichier ici ou cliquez pour télécharger. </label>
            <input type="file" name="receipt_file" id="file-input" hidden>
        </div>
        <div class="dash-button-container">
          <button type="submit" class="dashboard-button a-dash">Téléverser</button>
          <form method="POST">
            <button type="submit" name="action" value="analyse" class="dashboard-button a-dash">Analyser</button>
          </form>
        </div>
      </form>
        
    </form>

  {% if upload_message %}
  <div class="alert alert-info">{{ upload_message }}</div>
  {% endif %}

  <br>

  <div class="sum-container">
    <h2>Somme : <span id="sum-value">{{ sum }} €</span></h2>
    <div class="notification-bubble" id="notification-bubble">
      +{{ dernier_somme_ajoute }} €
    </div>
  </div>
  
  <div class="charts-container">
    <div class="chart-item">
      <h2> ─── Répartition des dépenses ─── </h2>
      <div class="chart-graph">
        <img src="{{chart_url}}" alt="Pie Chart">
      </div>
    </div>

  <div class="charts-container">
    <div class="chart-item">
      <h2> ─── Dépenses journalières ─── </h2>
      <div class="chart-graph">
        <img src="{{bar_d_url}}" alt="Bar Chart Journalières">
      </div>
  </div>
    
    <div class="chart-item">
      <h2> ─── Dépenses mensuelles ───</h2>
      <div class="chart-graph">
        <img src="{{bar_m_url}}" alt="Bar Chart Mensuelles">
      </div>
    </div>
    
    <div class="chart-item">
      <h2> ─── Vos catégories de dépenses ─── </h2>
      <div class="chart-graph">
        <img src="{{tab_url}}" alt="Chart Catégories">
      </div>
    </div>
    
    <div class="chart-item">
      <h2> ─── Vos types de paiement les plus utilisés ─── </h2>
      <div class="chart-graph">
        <img src="{{chart_pay_url}}" alt="Chart Paiement">
      </div>
    </div>
  </div>
  
  <div class="container-dash">
    <div class="section-dash">
      <h1>Vos articles</h1>
      <div class="scroll-box">
        <ul>
          {% if derniers_articles %}
            {% for article in derniers_articles %}
              <li>{{ article }}</li>
            {% endfor %}
          {% else %}
            <p>Aucun article</p>
          {% endif %}
        </ul>
      </div>
    </div>
  
    <div class="section-dash">
      <h1>Magasins</h1>
      <div class="scroll-box">
        <ul>
          {% if nom_magasins %}
            {% for magasin in nom_magasins %}
              <li>{{ magasin }}</li>
            {% endfor %}
          {% else %}
            <p>Aucun magasin visité</p>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class ="push"></div>
</main> 

<footer>
  <div class="footer-container">
    <div class="footer-logo">
     <!--<img src="../static/Design/logo.jpg" alt="Logo Scanify">-->
    </div>
    <div class="footer-links">
      <a href="/about">A propos </a>
    </div>
    <div class="footer-copy">
      <p>&copy; 2025 Scanify. Tous droits reservés.</p>
    </div>
  </div>
</footer>
</body>

</html>