<!-- Projet : Scanify -->
<!-- Auteurs : Antonina Savchenko, Elisa Salignon -->

<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" defer></script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Scanify </title>
  <script src="https://unpkg.com/scrollreveal"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cantata+One&display=swap" rel="stylesheet">
</head>

<body>
<nav>
  <ul class="sidebar">
    <li onclick=hideSidebar()><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M18 6L6 18M6 6l12 12"></path></svg>
    </li>
    <li style="font-family:Galada,serif; color: white;"> Scanify</li>
    <li><a href="{{ url_for('home') }}"> Accueil </a></li>
    <li><a href="{{ url_for('about') }}"> A propos</a></li>
    <li><a href="{{ url_for('dashboard') }}"> Tableau de bord</a></li>
    {% if current_username %}
      <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
    {% endif %}
  </ul>


  <img src="../static/Design/logo.jpg" alt="Scanify logo" class="logo_jpg">
  <ul>
    <li class="hideOnMobile" style="font-family:Galada,serif; margin-left: 1.5rem;color: white;"> Scanify</li>
    <li class="hideOnMobile"><a href="{{ url_for('home') }}"> Accueil </a></li>
    <li class="hideOnMobile"><a href="{{ url_for('about') }}"> A propos</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('dashboard') }}"> Tableau de bord</a></li>
    {% if current_username %}  
      <li class="hideOnMobile"><a href="{{ url_for('logout') }}">Déconnexion</a></li>
    {% endif %}
    <li class="hamburger" onclick=showSidebar()><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M3 12h18M3 6h18M3 18h18"></path></svg></li>
  </ul>
    {% if current_username %}
    <div class="user-info">
      <span>{{ current_username }}</span>
      <img src="../static/Design/user_image.jpg" alt="User image" class="topbar_user_jpg">
    </div>
    {% endif %}
</nav>

<main>
  <div id="particles-js"></div>
    <div class="title-container">
      <h1 id="main_title" class="main_title"><span> Prenez le contrôle de vos dépenses dès maintenant</span></h1>
      <div class="get-started-container">
        <a href="{{ url_for('register') }}" class="get-started-button a_main">Commencer</a>
      </div>
  </div>

  <section class="features-section">
    <h1> Pourquoi choisir Scanify ? </h1>
    <div class="cards-container">
      <div class="card">
        <canvas id="jsPieChart"></canvas>
      </div>

      <div class="card">
        <h3>Analyse Instantanée</h3>
        <p>Téléchargez votre reçu et découvrez où et comment vous dépensez.</p>
        <img src="../static/Design/barchart.png" style="width: 20rem; height:12rem;border-radius: 5%;">
      </div>

      <div class="card">        
        <img src="../static/Design/illustration.jpg" style="width: 15rem; height:15rem;border-radius: 30%;">
      </div>

      <div class="card">
        <h3>Méthodes de paiement</h3>
        <p>Comparez vos paiements en espèces et par carte pour mieux comprendre vos dépenses.</p>
      </div>
      <div class="card">
        <h3> Un coup d'oeil rapide sur vos tendances</h3>
        <p> Consultez le montant de vos dépenses et suivez leur évolution quotidienne et mensuelle.</p>
      </div>
      <div class="card">
        <h3> Vue d'ensemble </h3>
        <p>Consultez vos habitudes de consommation à l'aide de tableaux et graphiques simples.</p>
      </div>
    </div>
  </section>

</main>

<footer>
  <div class="footer-container">
    <div class="footer-logo">
     <!--<img src="../static/Design/logo.jpg" alt="Logo Scanify">-->
    </div>
    <div class="footer-links">
      <a href="/about">A propos</a>
    </div>
    <div class="footer-copy">
      <p>&copy; 2025 Scanify. Tous droits reservés.</p>
    </div>
  </div>
</footer>
</body>
</html>
