<!-- Projet : Scanify -->
<!-- Auteurs : Antonina Savchenko, Elisa Salignon -->

<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" defer></script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <title> Connexion </title>
  <script src="https://unpkg.com/scrollreveal"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Cantata+One&display=swap" rel="stylesheet">
</head>

<body>
<nav>
  <ul class="sidebar">
    <li onclick=hideSidebar()><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M18 6L6 18M6 6l12 12"></path></svg>
    </li>
    <li style="font-family:Galada,serif; color: white;"> Scanify</li>
    <li><a href="{{ url_for('home') }}"> Accueil </a></li>
    <li><a href="{{ url_for('about') }}"> A propos</a></li>
    {% if current_username %}
      <li><a href="{{ url_for('dashboard') }}"> Tableau de bord</a></li>
      <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
    {% endif %}
  </ul>


  <img src="../static/Design/logo.jpg" alt="Scanify logo" class="logo_jpg">
  <ul>
    <li class="hideOnMobile scanify-title">Scanify</li>
    <li class="hideOnMobile"><a href="{{ url_for('home') }}"> Accueil </a></li>
    <li class="hideOnMobile"><a href="{{ url_for('about') }}"> A propos</a></li>
    <li class="hideOnMobile"><a href="{{ url_for('dashboard') }}"> Tableau de bord</a></li>
    {% if current_username %}
      <li class="hideOnMobile"><a href="{{ url_for('logout') }}">Déconnexion</a></li>
    {% endif %}
    <li class="hamburger" onclick=showSidebar()><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M3 12h18M3 6h18M3 18h18"></path></svg></li>
  </ul>
  
    {% if current_username %}
    <div class="user-info">
      <span>{{ current_username }}</span>
      <img src="../static/Design/user_image.jpg" alt="User image" class="topbar_user_jpg">
    </div>
    {% endif %}
</nav>

<h1 id="login_title">Connexion</h1>
  <div class="container">
    <div class="login-container">

      <div class="logo">
          <img src="../static/Design/user_image.jpg" alt="User Image" class="user_image_jpg">
      </div>

      <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
      <div class="input-group">
        <label for="username">Nom d'utilisateur</label>
        {{ form.username(class="form-input") }}
      </div>
      <div class="input-group">
        <label for="password">Mot de passe</label>
        {{ form.password(class="form-input") }}
        </div>
        {% if message_login %}
          <div class="alert alert-info">{{ message_login }}</div>
        {% endif %}
        <button type="submit" class="btn">{{ form.submit.label.text }}</button>
      </form>
        {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <a href="{{ url_for('register') }}" class="a_container">Pas de compte? Inscrivez-vous!</a>
      </div>
    </div>

<footer>
  <div class="footer-container">
    <div class="footer-logo">
     <!--<img src="../static/Design/logo.jpg" alt="Logo Scanify">-->
    </div>
    <div class="footer-links">
      <a href="/about">A propos</a>
    </div>
    <div class="footer-copy">
      <p>&copy; 2025 Scanify. Tous droits reservés.</p>
    </div>
  </div>
</footer>

</body>

</html>